.resume-container {
    height: 125vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:70px;
    padding-top:70px;
    object-fit: contain;
}



@media screen and (max-width: 960px) {
    .resume-container  {
        height: 125vh; 
        width: 100%;
        display: flex;
    
    }
}

@media screen and (max-width: 668px) {

    img {
        max-width: 95%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .resume-container {
        height: 90vh; 
    }
}

h1 {
    text-align: center;
    color: #1f98f4;
    padding-top: 150px;
    padding-bottom: 50px;
    margin-top: -50px;
  }

