.resume-container {
    height: 125vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:70px;
    padding-top:70px;
    object-fit: contain;
}

h1 {
    text-align: center;
    color: #1f98f4;
    padding-top: 150px;
    padding-bottom: 50px;
    margin-top: -50px;
  }